{% extends "basic.html" %}

{% block header %}
<!-- end of header -->
{% endblock header %}


{% block content %}
<div class="container mt-10">
    <div class="row">
        <div class="col-12">
            <p>Компания успешно создана!</p>
        </div>
    </div>
</div>

{% endblock content %}