{% extends "basic.html" %}


{% block header %}
{% endblock header %}


{% block content %}
<div class="container mt-10">
    <div class="alert alert-warning mt-1">
        Звездочкой отмечены поля, обязательные к заполнению
    </div>
    <form method="post" class="mt-1 mb-1 company-form" enctype = "multipart/form-data">
        {% csrf_token %}

        <table>
        {% for field in form %}
            <tr>
                <th>
                    {% if field.field.required %}
                    <label style="color: black"><b>{{ field.label }}* </b></label>
                    {% else %}
                    <label>{{ field.label }}</label>
                    {% endif %}
                </th>
                <td>
                    {{ field }}

                    {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>

        <input type="submit" value="Сохранить" class="mb-1">
    </form>
</div>

{% endblock content %}