{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Website Title -->
    {% if company %}
    <title>{{company.title_html}}</title>
    {% elif current_category %}
    <title>{{ current_category.title_html }}</title>
    {% else %}
    <title>{{ site_settings.title }}</title>
    {% endif %}

    <!-- SEO Meta Tags -->
    {% if company%}
    <meta name="description" content="{{company.description_html}}">
    {% elif current_category%}
    <meta name="description" content="{{current_category.description_html}}">
    {% else %}
    <meta name="description" content="{{site_settings.description}}">
    {% endif %}




    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:locale" content="ru_RU">
    <meta property="og:site_name" content="{{ site_settings.title }}" /> <!-- website name -->
    <meta property="og:site" content="{{ site_settings.site_url }}" /> <!-- website link -->
    {% if company%}
    <meta property="og:title" content="{{company.title_html}}"/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="{{company.description_html}}" /> <!-- description shown in the actual shared post -->
    {% endif %}
    {% if current_category%}
    <meta property="og:title" content="{{current_category.title_html}}"/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="{{current_category.description_html}}" /> <!-- description shown in the actual shared post -->
    {% endif %}
    <meta property="og:image" content="{% static 'images/partners_new2.png' %}" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="https://droptextile.com.ua/" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="website" />


    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/django_better_admin_arrayfield.min.css' %}">
    <!--load all styles -->

    {{ site_settings.header_script | safe }}

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'images/favicon.png' %}">
</head>


<body data-spy="scroll" data-target=".fixed-top">
{{ site_settings.after_body_script | safe }}

<div class="page">

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="{% url 'index' %}">
            <img src="{% static 'images/partners_new2.png' %}" alt="alternative">
        </a>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">ПОСТАВЩИКИ <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_company' %}">ДОБАВИТЬ КОМПАНИЮ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'rules' %}">ПРАВИЛА</a>
                </li>

                <li>

                </li>
            </ul>
            {% load account %}

            {% if user.is_authenticated %}
            <div class="user_name">{% user_display user %}</div>
            <a href="{% url 'account_logout' %}" class="btn btn-warning btn-account" role="button" aria-pressed="true">Выйти</a>
            {% else %}
            <a href="{% url 'account_login' %}" class="btn btn-warning btn-account" role="button" aria-pressed="true">Вход</a>
            <a href="{% url 'account_signup' %}" class="btn btn-warning btn-account" role="button" aria-pressed="true">Регистрация</a>
            {% endif %}
        </div>

    </nav> <!-- end of navbar -->
    <!-- end of navbar -->


{% block header %} {% endblock header %}

{% block content %} {% endblock content %}

<!-- Copyright -->
    <footer class="footer">
        <div class="container">
            <span class="">Copyright © 2021 Проект магазина
                <a href="https://zasteli.com.ua/">
                    zasteli.com.ua
                </a>. All Rights Reserved.</span>
        </div>
    </footer> <!-- end of copyright -->

<!-- Scripts -->
<script defer src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
<script defer src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
<script defer src="{% static 'js/django_better_admin_arrayfield.min.js' %}"></script> <!-- Bootstrap framework -->
<script defer src="{% static 'admin/js/jquery.init.js' %}"></script> <!-- Bootstrap framework -->
<script defer src="{% static 'js/scripts.min.js' %}"></script> <!-- Custom Scripts -->
<!-- Custom scripts -->
    {{ site_settings.before_body_end_script | safe }}
</body>
</html>
