{% extends "basic.html" %}

{% block header %}
{% endblock header %}


{% block content %}
<section id="company" class="container-fluid mt-10">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ company.title }}</li>
        </ol>
    </nav>
    <div class="row justify-content-center">
        <div class="col-11 text-center">
            <img src="/media/{{ company.logo_img }}" alt="Текстиль" class="company-logo">
            <h1 class="mt-3 company-title">{{ company.title }}</h1>
        </div>
        <div class="col-11">
            {% if company.description %}
            <p><b>Описание: </b> {{ company.description }}</p>
            {% endif %}
            <p><b>Категории: </b></p>
            <ul class="category-list">
            {% for ccategory in company.categories.all %}
            <a href="{% url 'category' ccategory.url %}"><span class="badge badge-info">{{ ccategory.title }}</span></a>
            {% endfor %}
            </ul>
            <p><b>Адрес: </b> {{ company.address | linebreaks }}</p>
            {% if company.website_url != None %}
            <p><b>Вэб-сайт: </b><a href="{{ company.website_url }}">{{ company.website_url }}</a> </p>
            {% endif %}
            {% if company.email != None %}
            <p><b>Эл. почта: </b>{{ company.email }}</p>
            {% endif %}
            <p><b>Телефоны: </b>
                <br>
            {% for ph in company.phone %}
            {{ ph }}
                <br>
            {% endfor %}
            </p>
        </div>
    </div>
</section>
{% endblock content %}