{% extends "basic.html" %}
{% load static %}

{% block header %}
{% endblock header %}


{% block content %}
<section id="companies" class="container-fluid mt-10">
    {% if current_category %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ current_category }}</li>
        </ol>
    </nav>
    {% endif %}

    {% if site_settings.h1 and not company and not current_category %}

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-11 text-center">
                <h1 style="color:black;">{{ site_settings.h1 }}</h1>
            </div>
        </div>
    </div>
    {% elif current_category.h1 != None %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-11 text-center">
                <h1 style="color:black;" class="text-center">{{ current_category.h1}}</h1>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-lg-9 col-sm-10 col-10 order-lg-1 order-md-2 order-sm-2 order-2">
            <div class="row row-eq-height">
                {% if company_list %}
                    {% for c in company_list %}

                    <div class="col-lg-4 col-md-6 col-sm-8 col-12 mb-2 mt-2">

                            <div class="card company-card">
                                <a href="{% url 'company' c.url %}" class="company-link">
                                    <div class="card-img-div">
                                        <img class="card-img-top" src="/media/{{ c.logo_img }}" alt="Текстиль">
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title"><b>{{ c.title }}</b></h5>
<!--                                        <p class="card-text">{{ c.description }}</p>-->

                                    </div>
                                </a>
                                <div class="card-footer">
                                    <p>
                                        {% for ccategory in c.categories.all %}
                                        <a href="{% url 'category' ccategory.url %}"><span class="badge badge-info">{{ ccategory.title }}</span></a>
                                        {% endfor %}
                                    </p>
                                </div>
                            </div>

                    </div>
                {% endfor %}

                {% else %}
                    <p>No companies to show</p>
                {% endif %}
            </div>
            {% if current_category %}
            <div class="row">
                <div class="col-12">
                    {{ current_category.seo_text | safe }}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="col-lg-3 col-sm-7 col-10 order-lg-2 order-md-1 order-sm-1 order-1">
            {% if category_list %}
            <div class="categories-list">
                <ul>
                    <li><a href="{% url 'index' %}"> Все <span>{{ num_all }}</span> </a></li>
                    {% for c in category_list %}
                    {% if c.id == current_category.id %}
                    <li><a href="{% url 'category' c.url %}"><b>{{ c.title }} <span>{{ c.num_companies }}</span></b></a></li>
                    {% else %}
                    <li><a href="{% url 'category' c.url %}"> {{ c.title }} <span>{{ c.num_companies }}</span> </a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% else %}
                <p>No categories to show</p>
                {% endif %}
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation" class="nav-pages">
            {% if is_paginated %}
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                    </li>
                {% endif %}
                {% for i in paginator.page_range %}
                    {% if page_obj.number == i %}
                        <li class="page-item active">
                            <span class="page-link">
                                {{ i }}
                            <span class="sr-only">(current)</span>
                            </span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                    </li>
                {% endif %}
            </ul>
            {% endif %}
    </nav>

    <nav aria-label="Page navigation" class="nav-pages">
    {% if company_list.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if company_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ company_list.previous_page_number }}">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                </li>
            {% endif %}
            {% for i in company_list.paginator.page_range %}
                {% if company_list.number == i %}
                    <li class="page-item active">
                        <span class="page-link">
                            {{ i }}
                            <span class="sr-only">(current)</span>
                        </span>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if company_list.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ company_list.next_page_number }}">&raquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
    </nav>

</section>
{% endblock content %}