{% extends "basic.html" %}

{% block header %}
<!-- Header -->
<header id="header" class="header">
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-container">
                        <h1><span id="">Your best start in dropshipping business begins here!</span></h1>
                        <p class="p-heading p-large">We will help you to grow your business</p>
                    </div>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of header-content -->
</header> <!-- end of header -->
<!-- end of header -->
{% endblock header %}


{% block content %}
<p>Правила</p>
{% endblock content %}