{% load custom_filters %}

{% for field in form %}
<div class="form-group">
    {% if field.errors %}
    <div class="alert alert-danger">
        {{ field.errors }}
    </div>
    {% endif %}
    <label>{{ field.label }}</label>
    {{ field|addclass:"form-control"}}
</div>
{% endfor %}