{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Social Network Login Failure" %}{% endblock %}

{% block content %}
<!--<h1>{% trans "Social Network Login Failure" %}</h1>-->

<!--<p>{% trans "An error occurred while attempting to login via your social network account." %}</p>-->

    <div class="container-fluid ">
        <div class="container ">
            <div class="row ">
                <div class="col-sm-10 login-box">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 log-det">
                            <h1 class="text-center">{% trans "Social Network Login Failure" %}</h1>

                            <p>{% trans "An error occurred while attempting to login via your social network account." %}</p>
                            {% include "account/snippets/account_messages.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
