{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<!--    <h1>{% trans "Sign Up" %}</h1>-->

<!--<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to-->
<!--{{site_name}}. As a final step, please complete the following form:{% endblocktrans %}</p>-->

<!--<form class="signup" id="" method="post" action="{% url 'socialaccount_signup' %}">-->
<!--  {% csrf_token %}-->
<!--  {{ form.as_p }}-->
<!--  {% if redirect_field_value %}-->
<!--  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />-->
<!--  {% endif %}-->
<!--  <button type="submit">{% trans "Sign Up" %}</button>-->
<!--</form>-->

<div class="container-fluid " xmlns="http://www.w3.org/1999/html">
  <div class="container ">
    <div class="row ">
      <div class="col-sm-10 login-box">
        <div class="row">
          <div class="col-lg-12 col-md-12 log-det">
            <h1 class="text-center">{% trans "Sign Up" %}</h1>
            <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}Вы используете {{provider_name}} для авторизации на
              {{site_name}}. Чтобы завершить, заполните следующую форму:{% endblocktrans %}</p>

            <form class="text-box-cont text-center" id="signup_form" method="post" action="{% url 'socialaccount_signup">
              {% csrf_token %}
              {% include "account/snippets/custom_form.html" %}
              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
              <div class="input-group center mb-3">
                <button type="submit" name="action" class="btn btn-success btn-round">{% trans "Sign Up"|upper %}</button>
              </div>
            </form>
            {% include "account/snippets/account_messages.html" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
