/* =======================================================================
Template Name: Dil Hospital
Author:  SmartEye Adminpanel
Author URI: www.smarteyeapps.com
Version: 1.0
coder name:Prabin Raja
Description: This Template is created for web template
======================================================================= */
/* ===================================== Import Less ================================== */
/*@font-face {*/
/*    font-family: 'mouse-300';*/
/*    src: url("../fonts/RobotoSlab-Regular.ttf") format("truetype"); }*/
/*@font-face {*/
/*    font-family: 'mouse-500';*/
/*    src: url("../fonts/RobotoSlab-Bold.ttf") format("truetype"); }*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,600;1,300;1,600&display=swap');
/* ===================================== Basic CSS ================================== */
* {
    margin: 0px;
    padding: 0px;
    list-style: none; }

img {
    max-width: 100%; }

a {
    text-decoration: none;
    outline: none;
    /*color: #444; */
}

/*a:hover {*/
/*    color: #444; }*/

ul {
    margin-bottom: 0;
    padding-left: 0; }

a:hover,
a:focus,
input,
textarea {
    text-decoration: none;
    outline: none; }

.center {
    text-align: center; }

.left {
    text-align: left; }

.right {
    text-align: right; }

.cp {
    cursor: pointer; }

html, body {
    height: 100%; }

p {
    margin-bottom: 0px;
    width: 100%; }

.no-padding {
    padding: 0px; }

.no-margin {
    margin: 0px; }

.hid {
    display: none; }

.top-mar {
    margin-top: 15px; }

.h-100 {
    height: 100%; }

::placeholder {
    color: #747f8a !important;
    font-size: 13px;
    opacity: .5 !important; }

.container-fluid {
    padding: 0px; }

h1, h2, h3, h4, h5, h6 {
    font: 600 26px "Montserrat", sans-serif; }

strong {
    font: 600 14px "Montserrat", sans-serif; }

body {
    background-color: #f7f7ff !important;
    font: 300 18px "Montserrat", sans-serif;
    color: #6A6A6A; }

.session-title {
    padding: 30px;
    margin: 0px; }
.session-title h2 {
    width: 100%;
    text-align: center; }
.session-title p {
    max-width: 850px;
    text-align: center;
    float: none;
    margin: auto; }
.session-title span {
    float: right;
    font-style: italic; }

.inner-title {
    padding: 20px;
    padding-left: 0px;
    margin-bottom: 30px; }
.inner-title h2 {
    width: 100%;
    text-align: center;
    font: 600 14px "Montserrat", sans-serif; }
.inner-title p {
    width: 100%;
    text-align: center; }

.page-nav {
    padding: 40px;
    text-align: center;
    padding-top: 160px; }
.page-nav ul {
    float: none;
    margin: auto; }
.page-nav h2 {
    font-size: 36px;
    width: 100%;
    color: #444; }
@media screen and (max-width: 600px) {
    .page-nav h2 {
        font-size: 26px; } }
.page-nav ul li {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 16px; }
.page-nav ul li i {
    width: 30px;
    text-align: center;
    color: #444; }
.page-nav ul li a {
    color: #444; }

.btn-success {
    background-color: #00997a;
    border-color: #00997a; }
.btn-success:hover {
    background-color: #00997a !important;
    border-color: #00997a !important; }
.btn-success:active {
    background-color: #00997a !important;
    border-color: #00997a !important; }
.btn-success:focus {
    background-color: #00997a !important;
    border-color: #00997a !important;
    box-shadow: none !important; }

.btn-info {
    background-color: #4f6dcd;
    border-color: #4f6dcd; }
.btn-info:hover {
    background-color: #4f6dcd !important;
    border-color: #4f6dcd !important; }
.btn-info:active {
    background-color: #4f6dcd !important;
    border-color: #4f6dcd !important; }
.btn-info:focus {
    background-color: #4f6dcd !important;
    border-color: #4f6dcd !important;
    box-shadow: none !important; }

.btn {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 2px; }

.form-control:focus {
    box-shadow: none !important;
    border: 2px solid  #00a8df; }

.btn-light {
    background-color: #FFF;
    color: #3F3F3F; }

.collapse.show {
    display: block !important; }

.form-control:focus {
    box-shadow: none;
    border: 2px solid #0d7a40 !important; }

.form-control {
    background-color: #F8F8F8;
    margin-bottom: 20px; }
.form-control:focus {
    background-color: #FFF;
    border-color: #CCC; }

.container {
    max-width: 1100px; }
@media screen and (max-width: 575px) {
    .container {
        padding: 20px 30px; } }

/* ===================================== Header CSS ================================== */
.login-box {
    background-color: #FFF;
    float: none;
    margin: auto;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin-top: 8%; }
@media screen and (max-width: 575px) {
    .login-box {
        margin-top: 0px; } }
@media screen and (max-width: 767px) {
    .login-box {
        margin-bottom: 60px; } }

.log-det {
    padding: 20px; }
.log-det .small-logo {
    display: flex;
    align-items: center; }
.log-det .small-logo i {
    font-size: 32px;
    margin-right: 10px; }
.log-det h2 {
    margin-top: 20px;
    width: 100%;
    text-align: center; }
.log-det ul {
    float: none;
    margin: auto;
     }
.log-det ul li {
    float: left;
    padding: 10px; }
.log-det ul li i {
    padding: 10px;
    border: 1px solid #CCC;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50px; }
.log-det p {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px; }
.log-det .small-info {
    font-size: 14px; }
.log-det .text-box-cont {
    max-width: 300px;
    float: none;
    margin: auto; }
.log-det .text-box-cont .input-group .input-group-prepend span {
    background-color: #F8F8F8;
    border-radius: 0px;
    border-right: 0px; }
.log-det .text-box-cont .input-group .input-group-prepend i {
    color: #777474; }
.log-det .text-box-cont .input-group input {
    border-left: 0px;
    border-radius: 0px; }
.log-det .text-box-cont .btn {
    border-radius: 50px;
    padding: 10px 30px;
    margin: auto;
    margin-bottom: 10px;
    font-size: 13px; }

.box-de {
    background-color: rgba(0, 136, 109, 0.73);
    display: flex; }
.box-de .ditk-inf {
    margin: auto;
    align-items: center;
    text-align: center;
    color: #FFF; }
.box-de .ditk-inf p {
    margin-top: 15px; }
.box-de .ditk-inf .btn-outline-light {
    border-radius: 50px;
    box-shadow: none;
    padding: 5px 20px;
    margin-top: 25px; }
.box-de .small-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #FFF; }
.box-de .small-logo i {
    font-size: 22px;
    margin-right: 5px; }
@media screen and (max-width: 767px) {
    .box-de {
        padding: 30px; } }

.sup {
    margin-top: 40px; }

@media screen and (max-width: 767px) {
    .sup-oi {
        margin-top: 40px !important; } }

.socialaccount_provider{
    color: #444;
}