{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login-form-style.min.css' %}">
  </head>
  <body>
    {% block body %}

<!--    {% if messages %}-->
<!--    <div>-->
<!--      <strong>Messages:</strong>-->
<!--      <ul>-->
<!--        {% for message in messages %}-->
<!--        <li>{{message}}</li>-->
<!--        {% endfor %}-->
<!--      </ul>-->
<!--    </div>-->
<!--    {% endif %}-->

    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}

    <script defer src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script defer src="{% static 'js/popper.min.js' %}"></script> <!-- Bootstrap framework -->
    <script defer src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
    <script defer src="{% static 'admin/js/jquery.init.js' %}"></script> <!-- Bootstrap framework -->
<!--    <script defer src="{% static 'js/scripts.js' %}"></script> &lt;!&ndash; Custom Scripts &ndash;&gt;-->
  </body>
</html>
