{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}
    <div class="container-fluid ">
        <div class="container ">
            <div class="row ">
                <div class="col-sm-10 login-box">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 log-det">
                            <h1 class="text-center">{% trans "Confirm E-mail Address" %}</h1>

                            {% if confirmation %}

                            {% user_display confirmation.email_address.user as user_display %}

                            <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

                            <form class="text-box-cont text-center" method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                                {% csrf_token %}
                                <div class="input-group center mb-3">
                                    <button type="submit" class="btn btn-success btn-round">{% trans 'Confirm'|upper %}</button>
                                </div>
                            </form>
                            {% else %}

                            {% url 'account_email' as email_url %}

                            <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

                            {% endif %}

                            {% include "account/snippets/account_messages.html" %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
