{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container-fluid ">
  <div class="container ">
    <div class="row ">
      <div class="col-sm-10 login-box">
        <div class="row">
          <div class="col-lg-8 col-md-7 log-det">
            <div class="small-logo">
              <i class="fas fa-bahai"></i> Style Login
            </div>
            <h2>Войдите в учетную запись Droptextile</h2>
            {% get_providers as socialaccount_providers %}
            {% if socialaccount_providers %}
            <p class="small-info mb-1">с помощью</p>
            <div class="row">
              <ul>
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </ul>
            </div>
            {% include "socialaccount/snippets/login_extra.html" %}
            {% endif %}
            <div class="row">
              <p class="small-info">или с помощью эл. почты</p>
            </div>

            <form class="text-box-cont" method="POST" action="{% url 'account_login' %}">
              {% csrf_token %}

              {{ form.non_field_errors }}
              <div class="input-group mb-3 fieldWrapper">
                {{ form.login.errors }}
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" name="login" class="form-control" placeholder="Имя пользователя" autocomplete="username" maxlength="150" required="" id="id_login" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                {{ form.password.errors }}
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                </div>
                <input type="password" class="form-control" name="password" placeholder="Пароль" autocomplete="current-password" required="" id="id_password" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="row">
                <p class="forget-p"> <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a></p>
              </div>
              <div class="input-group center mb-3">
                <button class="btn btn-success btn-round" type="submit">ВОЙТИ</button>
              </div>
            </form>
            {% include "account/snippets/account_messages.html" %}

          </div>
          <div class="col-lg-4 col-md-5 box-de">
            <div class="ditk-inf">
              <h2 class="w-100">Нет учетной записи?</h2>
              <p>Перейдите на форму регистрации</p>
              <a href="{{ signup_url }}" class="btn btn-outline-light">РЕГИСТРАЦИЯ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
