{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}



<div class="container-fluid ">
  <div class="container ">
    <div class="row ">
      <div class="col-sm-10 login-box">
        <div class="row">
          <div class="col-lg-12 col-md-12 log-det">
            <div class="small-logo">
              <i class="fas fa-bahai"></i> Style Login
            </div>
<!--            <h2>{% trans "Sign Out" %}</h2>-->
            <p>{% trans 'Are you sure you want to sign out?' %}</p>

            <form class="text-box-cont" method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}

              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
              {% endif %}
              <div class="input-group center mb-3">
                <button type="submit" class="btn btn-success btn-round">{% trans 'Sign Out' %}</button>
              </div>
            </form>
            {% include "account/snippets/account_messages.html" %}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
