{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container-fluid ">
        <div class="container ">
            <div class="row ">
                <div class="col-sm-10 login-box">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 log-det">
                            <h1 class="text-center">{% trans "Password Reset" %}</h1>

                            {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                            {% endif %}

                            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

                            <form class="text-box-cont text-center" method="post" action="{% url 'account_reset_password' %}">
                                {% csrf_token %}
                                {% include "account/snippets/custom_form.html" %}
                                <div class="input-group center mb-3">
                                    <button type="submit" class="btn btn-success btn-round">{% trans 'Reset My Password'|upper %}</button>
                                </div>
                                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                            </form>

                            <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
                            {% include "account/snippets/account_messages.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
