{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container-fluid ">
        <div class="container ">
            <div class="row ">
                <div class="col-sm-10 login-box">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 log-det">
                            <h1 class="text-center">{% trans "Change Password" %}</h1>

                            <form class="text-box-cont text-center" method="post" action="{% url 'account_change_password' %}">
                                {% csrf_token %}
                                {% include "account/snippets/custom_form.html" %}
                                {% if redirect_field_value %}
                                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                                {% endif %}
                                <div class="input-group center mb-3">
                                    <button type="submit" name="action" class="btn btn-success btn-round">{% trans "Change Password"|upper %}</button>
                                </div>
                            </form>
                            {% include "account/snippets/account_messages.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



