{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<!--    <h1>{% trans "Change Password" %}</h1>-->
<!--    <p>{% trans 'Your password is now changed.' %}</p>-->
    <div class="container-fluid ">
        <div class="container ">
            <div class="row ">
                <div class="col-sm-10 login-box">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 log-det">
                            <h1 class="text-center">{% trans "Change Password" %}</h1>
                            <p>{% trans 'Your password is now changed.' %}</p>
                            <a href="{% url 'index' %}">Перейти на главную</a> |
                            <a href="{% url 'account_login' %}">Перейти на форму входа</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
