{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container-fluid " xmlns="http://www.w3.org/1999/html">
        <div class="container ">
            <div class="row ">
                <div class="col-sm-10 login-box">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 log-det">
                            <h1 class="text-center">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

                            {% if token_fail %}
                                {% url 'account_reset_password' as passwd_reset_url %}
                                <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                            {% else %}
                                {% if form %}
                                    <form class="text-box-cont text-center" method="post" action="{{ action_url }}">
                                        {% csrf_token %}
                                        {% include "account/snippets/custom_form.html" %}
                                        <div class="input-group center mb-3">
                                            <button type="submit" name="action" class="btn btn-success btn-round">{% trans 'change password'|upper %}</button>
                                        </div>
                                    </form>
                                {% else %}
                                    <p>{% trans 'Your password is now changed.' %}</p>
                                {% endif %}
                            {% endif %}
                            {% include "account/snippets/account_messages.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
