{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <div class="container-fluid ">
        <div class="container ">
            <div class="row ">
                <div class="col-sm-10 login-box">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 log-det">
                            <h1 class="text-center">{% trans "Set Password" %}</h1>
                            <form class="text-box-cont" method="post" action="{% url 'account_set_password' %}">
                                {% csrf_token %}
                                {% include "account/snippets/custom_form.html" %}
                                <div class="input-group center mb-3">
                                    <button type="submit" name="action" class="btn btn-success btn-round">{% trans 'Set Password'|upper %}</button>
                                </div>
                            </form>
                            {% include "account/snippets/account_messages.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
