{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<!--    <h1>{% trans "Password Reset" %}</h1>-->
    
<!--    {% if user.is_authenticated %}-->
<!--    {% include "account/snippets/already_logged_in.html" %}-->
<!--    {% endif %}-->
    
<!--    <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>-->

    <div class="container-fluid ">
        <div class="container ">
            <div class="row ">
                <div class="col-sm-10 login-box">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 log-det">
                            <h1 class="text-center">{% trans "Password Reset" %}</h1>

                            {% if user.is_authenticated %}
                                {% include "account/snippets/already_logged_in.html" %}
                            {% endif %}

                            <p>{% blocktrans %}We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
                            {% include "account/snippets/account_messages.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
