{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container-fluid ">
  <div class="container ">
    <div class="row ">
      <div class="col-sm-10 login-box">
        <div class="row">
          <div class="col-lg-8 col-md-7 log-det">
            <div class="small-logo">
              <i class="fas fa-bahai"></i> Style Login
            </div>
            <h2>Создайте учетную запись Droptextile</h2>
            <div class="row">
              <p class="small-info">с помощью эл. почты</p>
            </div>
            <form class="text-box-cont" id="signup_form" method="post" action="{% url 'account_signup' %}">
              {% csrf_token %}

              {{ form.non_field_errors }}
              <div class="input-group mb-3 fieldWrapper">
                {{ form.email.errors }}
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-envelope"></i></span>
                </div>
                <input type="email" class="form-control" name="email" placeholder="Эл. почта" autocomplete="email" required="" id="id_email" aria-label="Email" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3 fieldWrapper">
                {{ form.username.errors }}
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" name="username" class="form-control" placeholder="Имя пользователя" autocomplete="username" minlength="1" maxlength="150" required="" id="id_username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                {{ form.password1.errors }}
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                </div>
                <input type="password" class="form-control" name="password1" placeholder="Пароль" autocomplete="new-password" required="" id="id_password1" aria-autocomplete="list" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                {{ form.password2.errors }}
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock"></i></span>
                </div>
                <input type="password" class="form-control" name="password2" placeholder="Пароль(повторно)" required="" id="id_password2" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group center mb-3">
                <button class="btn btn-success btn-round" type="submit">{{ 'Зарегистрироваться'|upper }}</button>
              </div>

              {% if redirect_field_value %}
              <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
              {% endif %}
            </form>
            {% include "account/snippets/account_messages.html" %}
          </div>
          <div class="col-lg-4 col-md-5 box-de">
            <div class="ditk-inf">
              <h2 class="w-100">Уже есть аккаунт?</h2>
              <p>Перейдите на форму входа</p>
              <a href="{{ login_url }}" class="btn btn-outline-light">ВОЙТИ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}