{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Up Closed" %}{% endblock %}

{% block content %}
<!--<h1>{% trans "Sign Up Closed" %}</h1>-->

<!--<p>{% trans "We are sorry, but the sign up is currently closed." %}</p>-->
    <div class="container-fluid ">
        <div class="container ">
            <div class="row ">
                <div class="col-sm-10 login-box">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 log-det">
                            <h1 class="text-center">{% trans "Sign Up Closed" %}</h1>
                            <p>{% trans "We are sorry, but the sign up is currently closed." %}</p>
                            {% include "account/snippets/account_messages.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
