{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li>

    <a title="{{brand.name}}"
       class="socialaccount_provider {{provider.id}} {{brand.id}}"
       href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
    ><i class="fab fa-{{provider.id}}">

    </i></a>

</li>
{% endfor %}
{% endif %}
<li>

    <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}"
       href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
        {% if provider.id == "facebook" %}
        <i class="fab fa-{{provider.id}}-f"></i>
        {% else %}
        <i class="fab fa-{{provider.id}}"></i>
        {% endif %}
    </a>

</li>
{% endfor %}
