@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Nunito:ital,wght@0,400;0,600;0,700;0,800;1,700&display=swap');

/******************************/
/*     01. General Styles     */
/******************************/
body,
html {
    width: 100%;
    height: 100%;
}

body, p {
    color: #787976;
    font: 400 1rem/1.5625rem "Nunito", sans-serif;
}

.p-heading {
    margin-bottom: 3.5rem;
    text-align: center;
}

/**************************/
/*     02. Navigation     */
/**************************/
.navbar-custom {
    background-color: #00886d;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    font: 700 0.875rem/0.875rem "Nunito", sans-serif;
    transition: all 0.2s;
}

.navbar-custom .social-icons {
    display: block;
    margin-left: 0.5rem;
}

.navbar-custom .fa-stack {
    margin-left: 0.375rem;
    font-size: 0.8125rem;
}

.navbar-custom .navbar-brand {
    font-size: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-custom .navbar-brand.logo-image img {
    -webkit-backface-visibility: hidden;
}

.navbar-custom .navbar-brand.logo-text {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font: 700 2.25rem/1.5rem "Montserrat", sans-serif;
    color: #fff;
    text-decoration: none;
}

.navbar-custom .fa-stack-1x {
    font-size: 0.6875rem;
    line-height: 1.625rem;
    color: #fff;
    transition: all 0.2s ease;
}

.navbar-custom .fa-stack:hover .fa-stack-1x {
    color: #0067f4;
    /* color: #14bf98; */
}

.navbar-custom .navbar-nav {
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
}

.navbar-custom .nav-item .nav-link {
    padding: 0.625rem 0.75rem 0.625rem 0.75rem;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease;
}

.navbar-custom .nav-item .nav-link:hover,
.navbar-custom .nav-item .nav-link.active {
    color: #fa6700;
}


/* Dropdown Menu */
.navbar-custom .dropdown:hover > .dropdown-menu {
    display: block; /* this makes the dropdown menu stay open while hovering it */
    min-width: auto;
    animation: fadeDropdown 0.2s; /* required for the fade animation */
}

@keyframes fadeDropdown {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.navbar-custom .dropdown-toggle:focus { /* removes dropdown outline on focus  */
    outline: 0;
}

.navbar-custom .dropdown-menu {
    margin-top: 0;
    border: none;
    border-radius: 0.25rem;
    background-color: #3a81e3;
}

.navbar-custom .dropdown-item {
    color: #fff;
    text-decoration: none;
}

.navbar-custom .dropdown-item:hover {
    background-color: #3a81e3;
}

.navbar-custom .dropdown-item .item-text {
    font: 600 0.875rem/0.875rem "Nunito", sans-serif;
}

.navbar-custom .dropdown-item:hover .item-text {
    color: #3a81e3;
}

.navbar-custom .dropdown-items-divide-hr {
    width: 100%;
    height: 1px;
    margin: 0.75rem auto 0.75rem auto;
    border: none;
    background-color: #b5bcc4;
    opacity: 0.2;
}
/* end of dropdown menu */


.navbar-custom .navbar-toggler {
    border: none;
    color: #fff;
    font-size: 2rem;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-times{
    display: none;
}

.navbar-custom button[aria-expanded='false'] .navbar-toggler-awesome.fas.fa-bars{
    display: inline-block;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-bars{
    display: none;
}

.navbar-custom button[aria-expanded='true'] .navbar-toggler-awesome.fas.fa-times{
    display: inline-block;
    margin-right: 0.125rem;
}

/*************************/
/*     04. Footer     */
/*************************/

.footer{
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #00886d;
    text-align: center;
    margin-top: auto;
}
.footer span{
    color: #d2d2d2;
}


.footer a {
    color: #b3d7ff;
    text-decoration: none;
}


/**********************************/
/*     05. Back To Top Button     */
/**********************************/
a.back-to-top {
    position: fixed;
    z-index: 999;
    right: 0.75rem;
    bottom: 0.75rem;
    display: none;
    width: 2.625rem;
    height: 2.625rem;
    border-radius: 1.875rem;
    background: #00886d no-repeat center 47%;
    background-size: 1.125rem 1.125rem;
    text-indent: -9999px;
}

a:hover.back-to-top {
    background-color: #13aa87;
}

.navbar-custom .navbar-brand.logo-text {
    color: #fff;
}

.navbar-custom .navbar-nav {
    margin-top: 0;
    margin-bottom: 0;
}

.navbar-custom .nav-item .nav-link {
    padding: 0.25rem 0.7rem 0.25rem 0.7rem;
}

.navbar-custom.top-nav-collapses {
    /* padding: 0.375rem 1.5rem 0.375rem 2rem; */
    /* box-shadow: 0 0.0625rem 0.375rem 0 rgba(0, 0, 0, 0.1); */
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    background-color: #003988;
    /* background-color: #113448; */
}

.navbar-custom.top-nav-collapses .navbar-brand.logo-text {
    color: #fff;
}

.navbar-custom.top-nav-collapses .nav-item .nav-link {
    color: #fff;
}

.navbar-custom.top-nav-collapses .nav-item .nav-link:hover,
.navbar-custom.top-nav-collapsess .nav-item .nav-link.active {
    color: #6ca7f9;
}

.navbar-custom .dropdown-menu {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: 0.75rem solid rgba(0, 0, 0, 0);
    border-radius: 0.25rem;
    box-shadow: 0 0.25rem 0.375rem 0 rgba(0, 0, 0, 0.03);
}

.navbar-custom.top-nav-collapses .dropdown-menu {
    border-top: 0.125rem solid rgba(0, 0, 0, 0);
}

.navbar-custom .dropdown-item {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.navbar-custom .dropdown-items-divide-hr {
    width: 84%;
}
/* end of navigation */

/*****************************/
/*     21. Media Queries     */
/*****************************/

@media (min-width: 768px) {
    /* General Styles */
    .p-heading {
        width: 85%;
        margin-right: auto;
        margin-left: auto;
    }
    /* end of general styles */


    .header h1 {
        font: 700 italic 3.5rem/4rem "Nunito", sans-serif;
    }

    /* end of header */
}
@media (max-width: 768px) {
    .footer{
        padding-top:5px;
        height: 90px;
        line-height: 30px;
    }
}

@media (min-width: 992px) {

    /* General Styles */
    .p-heading {
        width: 65%;
    }
    /* end of general styles */

    .header .text-container {
        margin-top: 6.5rem;
    }
    /* end of header */
}
/* end of min-width width 992px */


/* Min-width width 1200px */
@media (min-width: 1200px) {

    /* General Styles */
    .p-heading {
        width: 55%;
    }
    /* end of general styles */


    /* Navigation */
    .navbar-custom {
        padding-right: 5rem;
        padding-left: 5rem;
    }

    .navbar-custom.top-nav-collapses {
        padding-right: 5rem;
        padding-left: 5rem;
    }
    /* end of navigation */

    /* Footer */
    .footer .text-container.about {
        margin-right: 5rem;
    }
    /* end of footer */
}
/* end of min-width width 1200px */


/* Min-width width 1600px */
@media (min-width: 1600px) {

    /* Navigation */
    .navbar-custom {
        padding-right: 12rem;
        padding-left: 12rem;
    }

    .navbar-custom.top-nav-collapses {
        padding-right: 12rem;
        padding-left: 12rem;
    }
    /* end of navigation */
}
/* end of min-width width 1200px */


section{
    padding-bottom:20px;
}

.company-card{
    width: 100%;
    height: 100%;
}

.company-card img{
    width: 100%;
    height: auto;
    flex-shrink: 0;
    padding:5px;
}

.nav-pages{
    margin-top: 20px;
}

.company-logo{
    width: 250px;
    height:auto;
}

.card-text{
    height: 50px;
    overflow:hidden;
}


.btn-account{
    margin:5px;
}

.categories-list{
    margin-top: 10px;
    padding: 15px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}

.categories-list ul{
    list-style-type: none;
    margin-bottom: 0px;
    padding-left: 10px;
}

.categories-list li{
    padding-top:5px;
    padding-bottom:5px;
}

.categories-list a{
    font-size: 18px;
    color: black;
}

.categories-list a:hover{
    text-decoration: none;
}

.categories-list li a span{
    font-size: 14px;
    color: grey;
}

.company-form ul {
    list-style-type: none;
}

.user_name{
    color: #e0a800;
}

.page{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.mt-10{
    margin-top: 6rem !important;
}

.card-img-div{
    width: 100%;
    height: 250px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width:992px) and (max-width:1160px){
    .card-img-div{
        height: 200px;
    }
}

@media screen and (min-width:1435px){
    .card-img-div{
        height: 300px;
    }
}

.company-link:hover{
    text-decoration: none;
}

.card-footer{
    background: white;
}

.category-list{
    padding-left: 0px;
}

.company-title{
    color: black;
}

.card-title{
    color:black;
    text-align: center;
}